<article>
    <div id="about">
        <h2>About Me</h2>
        <img src="/lancelot.png" />
        <p class="bigger">Knight of code 👨‍💻 Computer science and hacking enthusiast  🔐</p>
        <p class="bigger">ReactJS / React Native / GraphQL / C / Rust 🦀</p>
        <p>2017 - Become Student at <a href="https://42.fr">42born2code <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/800px-42_Logo.svg.png" alt="" height="15"></a></p>
        <p>2018 - 🚀 Foundation of <a href="https://beemly.app">Beemly</a></p>
        <p>Contact me at <a href="mailto:contact@lancelot.life">contact@lancelot.life 💌</a></p>
    </div>
</article>
