<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="description" content="Lancelot Owczarczak personnal website. Rust, Golang, Python and Typescript. I like minimal stuff.">
		<title>{title}</title>
	<style>
	footer p #love \{
		animation: heartbeat {delta_hb}s infinite;
	\}
	</style>
	</head>
	<body>
		<header>
			<nav>
				<div><a href="/">About Me</a></div>
				<div><a href="https://blog.lancelot.life/">Blog</a></div>
				<div><a href="/links">Links</a></div>
				<div><a href="/misc">Misc</a></div>
				<div><a rel="me" href="https://hachyderm.io/@zerevo">Mastodon</a></div>
			</nav>
			<h1>{title}</h1>
		</header>
{page}
	</body>
</html>

