<article>
    <h2>Hello ! 👋</h2>
    <p>I'm Lancelot,</p>
    <p>I'm a <strong>software developper</strong> currently based in France 🇫🇷</p>
    <p>I'm the co-Founder and CTO of <a href="https://pianity.com">Pianity</a>,<br/>
        Building on <a href="https://arweave.org">Arweave</a> for decentralized permanent data storage.</p>
    <p>I <span style="text-decoration-line: line-through;">rarely</span> sometimes write articles about my learnings and discoveries, you can read them <a href="https://blog.lancelot.life">here</a></p>
    <p>I made a list of cool and interesting people you should check out <a href="/influences">here</a></p>
    <p>This website was made from scratch in Rust 🦀, you can check out the code <a href="https://github.com/lowczarc/lancelot.life">here on github</a></p>
    <p>Don't hesitate to contact me at <a href="mailto:contact@lancelot.life">contact@lancelot.life</a> and follow me on <a href="https://github.com/lowczarc">Github</a> 😃</p>
</article>
