<article>
    <h2>Welcome to my website</h2>
    <p>Hi, I'm Lancelot,</p>
    <p>
        I'm a french crazy <strong>software developper</strong> and <strong>entrepreneur</strong>,<br/>
        I like C/Node/React/GraphQL,<br/>
        But I particularly love <strong>Rust</strong> (This website was written from scratch in Rust 🦀)
    </p>
    <p>Don't hesitate to contact me at <a href="mailto:lancelot@beemly.app">lancelot@beemly.app</a> and follow me on <a href="https://github.com/lowczarc">Github</a> 😃</p>
</article>