        <h2>Software Developer. Currently working on <a href="https://github.com/polyfire-ai">@Polyfire</a></h2>
        <ul>
          <li>Co-founded <b><a href="https://pianity.com">@Pianity</a></b> in 2021</li>
          <li>Mainly using Rust, Golang, Zig</li>
          <li>Backend by day, low level by night</li>
          <li>C1 English, Native French, Japanese N4</li>
        </ul>
        <h2>Recent projects</h2>
        <ul>
          <li><a href="https://github.com/lowczarc/back">back</a> - A FORTH compiler to x86 assembly</li>
          <li><a href="https://github.com/lowczarc/arm-kernel">arm-kernel</a> - <b>Current side project.</b> The goal is to make an kernel for Raspberry Pi in Zig</li>
          <li><a href="https://github.com/lowczarc/gameboy-emulator">gameboy-emulator</a> - A gameboy (DMG &amp; GBC) emulator written in Rust</li>
          <li><a href="https://github.com/lowczarc/voice2article">voice2article</a> - A telegram bot to transform an audio recording into an article</li>
          <li><a href="https://github.com/lowczarc/Fetris">fetris</a> - A terminal-based multiplayer tetris playable over the network</li>
          <li><a href="https://github.com/lowczarc/minimal_twitch_client">minimal-twitch-client</a> - A minimal GTK stream viewer for youtube and twitch</li>
          <li><a href="https://github.com/lowczarc/lancelot.life">lancelot.life</a> - A reimplementation of the HTTP/1.1 protocol from scratch in Rust</li>
        </ul>
        <footer>
          <p>Contact me at <a href="mailto:lancelot@owczarczak.fr">lancelot@owczarczak.fr</a></p>
          <p>Lot of <span id="love">❤</span> to you</p>
        </footer>
