		<section>
			<img src="/reina.gif" style="float: right;" alt="Reina Trumpet">
			<h2>Contacts</h2>
			<p>You can freely DM me on mastodon at <a href="https://hachyderm.io/@zerevo">@zerevo@hachyderm.io</a> or email me at <a href="mailto:lancelot@owczarczak.fr">lancelot@owczarczak.fr</a>.</p>
			<p>I'd be happy (if I have the time of course) to look at your blog, give you my opinion on your business, review your code, etc... I love giving my opinion !</p>
		</section>
		<section>
			<h2>Social medias</h2>
			<ul>
				<li><a href="https://hachyderm.io/@zerevo">Mastodon</a></li>
				<li><a href="https://x.com/ZerevoSerossu">X/Twitter</a> (I'm not very active, prefer Mastodon)</li>
				<li><a href="https://github.com/lowczarc">Github</a></li>
				<li><a href="https://goodreads.com/lowczarc">GoodReads</a></li>
				<li><a href="https://aur.archlinux.org/account/lowczarc">AUR</a> (That's right, I use Arch btw)</li>
			</ul>
		</section>
		<section>
			<h2>Friend list</h2>
			<p>Here are some links to my friends' personal websites and blogs (Reminder to thoses who aren't in this list to <a href="https://blog.lancelot.life/you_should_write_a_blog/">write your blog</a>)</p>
			<ul>
				<li><a href="https://victor.to">Victor Forissier</a></li>
				<li><a href="https://www.etiennetheodore.com">Etienne Théodore</a></li>
				<li><a href="https://ecovieseology.tistory.com">Seology</a></li>
			</ul>
		</section>
