        <section>
            <img src="/reina.gif" style="float: right;" alt="Reina Trumpet">
            <h2>My links</h2>
            <ul>
			  <li><a href="https://hachyderm.io/@zerevo">Mastodon</a></li>
			  <li><a href="https://x.com/ZerevoSerossu">X/Twitter</a> (I'm not very active)</li>
			  <li><a href="https://github.com/lowczarc">Github</a></li>
			  <li><a href="https://goodreads.com/lowczarc">GoodReads</a></li>
            </ul>
        </section>
        <section>
            <h2>My friends' blogs/websites</h2>
			<p>(Reminder to <a href="https://blog.lancelot.life/you_should_write_a_blog/">make your blog</a>)</p>
            <ul>
				<li><a href="https://victor.to">Victor Forissier</a></li>
				<li><a href="https://www.etiennetheodore.com">Etienne Théodore</a></li>
            </ul>
        </section>
