html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100%;

	margin: 0;

	font-family: 'Lato', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px;

	border-bottom: 1px solid #f0f0f0;
	box-shadow: 0 5px 5px #f0f0f0;

	font-family: 'Lancelot', cursive;
	font-size: 25px;
}

header #open_nav {
	display: none;

	cursor: pointer;
}

header h1 {
	margin: 0;

	font-size: 35px;
}

header nav {
	display: flex;
}

header nav div {
	margin: 0 20px;

	border-bottom: 1px solid transparent;

	cursor: pointer;
}

header a {
	color: black;
	text-decoration: none;
}

header nav div.disabled {
	cursor: not-allowed;
}

header nav div:hover:not(.disabled) {
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 850px) {
	header #open_nav {
		display: block;
	}

	header h1 {
		margin: 0 auto;

		text-align: center;

		font-size: 25px;
	}

	header nav {
		display: flex;
		flex-direction: column;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

		height: 100%;
		width: 0;

		background: white;

		border-bottom: 1px solid #f0f0f0;
		box-shadow: -5px 0 15px #555;

		text-align: center;
		overflow-x: hidden;
		transition: width 0.5s;
	}

	#is_menu_open:checked ~ header nav {
		width: 200px;
	}

	#is_menu_open:checked ~ #grey {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(0, 0, 0, 0.3);

		cursor: pointer;
	}

	header nav div {
		margin: 20px auto;
		white-space: nowrap;
	}

	main aside {
		display: none;
	}
}


main h2 {
	font-family: 'Lancelot', cursive;
}

main {
	display: flex;
	flex: 1;

	padding: 20px 0;

	width: 100%;
	max-width: 1000px;

	margin: 0 auto;
}

main aside {
	width: 160px;
	margin: 0 10px;

	text-align: center;
}

main aside h2 {
	margin: 5px;
	margin-top: 15px;
}

main aside p {
	margin-top: 6px;
	margin-bottom: 16px;
}

main a {
	color: #1da1f2;
	text-decoration: none;
}

main aside a {
	display: block;
	margin: 5px 0;
}

main a:hover {
	color: #167dbc;
	text-decoration: underline;
}

main section {
	flex: 1;

	margin: 0 10px;
}

main section article {
	padding: 10px;

	border: 1px solid #f0f0f0;
	box-shadow: 0 0 5px #f0f0f0;
	border-radius: 5px;
}

main section > a {
	color: black;
	text-decoration: none;
}

main section > a + a {
	display: block;
	margin-top: 15px;
}

main section > article + article {
	margin-top: 15px;
}

main section article h2 {
	margin: 5px 0;
}

main section article .small {
	font-size: 12px;
}

main section article ul li {
	margin: 10px 0;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #aaa;

	padding: 20px 50px;

	font-size: 12px;
}

footer p {
	cursor: default;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  8% {
    transform: scale(1.2);
  }
  16% {
    transform: scale(1);
  }
  24% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

footer p #love {
	display: inline-block;
}

footer p:hover #love {
	color: red;
}

footer a {
	margin: 0 5px;
}

footer .icon {
	width: 30px;

	fill: #aaa;
	cursor: pointer;
}

footer .icon#twitter:hover {
	fill: #1da1f2;
}

footer .icon#github:hover {
	fill: black;
}

footer .icon#mastodon:hover {
	fill: #7975ff;
}
