:root {
	--bg: #151515;
	--primary: #808080;
	--primary-soft: #606060;
	--primary-bold: #F5F5F5;
	--secondary: #547C99;
	--secondary-soft: #9F4E85;
	--secondary-bold: #6C99BB;
}

html {
	background: var(--bg);
	color: var(--primary);
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
}

body {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

header nav {
	margin: 10px 0;
	font-size: 0;
}

header nav div {
	display: inline-block;
	font-size: 14px;
}

header nav div::after {
	content: "-";
	color: var(--primary-soft);
	display: inline-block;
	margin: 0 5px;
}

header nav div:last-child::after {
	display: none;
}

a {
	color: var(--secondary-bold);
	text-decoration: none;
	border-bottom: 1px solid var(--secondary-bold);
}

h1, h2 {
	font-size: 1em;
	color: var(--secondary);
	margin-top: 20px;
}

h1::before {
	content: "# ";
}

h2::before {
	content: "## ";
}

hr {
	border: none;
}

header::after {
	display: block;
	content: "===============================================================================================";
	overflow: hidden;
	font-weight: bold;
	color: var(--secondary);
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

li::before {
	content: "- ";
}

#friends li a {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

footer {
	color: var(--primary-soft);
	margin-top: 20px;
}

footer p {
	margin: 0;
}

footer p::before {
	content: "> ";
}

footer a {
	color: var(--primary-soft);
	border-bottom: 1px solid var(--primary-soft);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  8% {
    transform: scale(1.2);
  }
  16% {
    transform: scale(1);
  }
  24% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

footer p #love {
	display: inline-block;
	color: #A53C23;
}

table {
	width: 100%;
}

table thead th {
	text-align: left;
}
